.button {
    width:100px;
    height:100px;
    margin:10px;
    border: 2px solid black;
    border-radius: 100%;
    display: inline-block;
}
div.wrapper {
    margin-top:250px;
    text-align: center;
}
#red {
    background-color: red;
}
#green {
    background-color: green;
}
#blue {
    background-color: blue;
}
#purple {
    background-color: purple;
}